@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Great+Vibes&family=Montserrat:wght@500&family=Poppins:ital@1&family=Titillium+Web:ital,wght@1,300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    
}

.logo-nav{
    
    margin: 32px 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
   
    font-weight: 800;
}
.logo h5{
    color: #5D5FEF;
    font-size: 20px;
}
.list{
    display: flex;
    align-items: center;
}
.list span {
    margin-right: 40px;
}
.round-img{
    width: 38px;
    height: 38px;
    background-color:whitesmoke;
    border: 1px solid black;
    display: inline-block;
}
hr{
    margin: 32px 135px;
}

/* Main start _________--------- */
.catagory{
    display: flex;   
    flex-wrap: wrap;
    margin: 32px 135px;

    
}
.catagory span span{
    margin: 15px 35px;
    font-size: 18px;
    color: #858585;
}


/* ------------news section start------------------ */
.full-news-container{
    margin: 0 auto;
    border: 1px solid red;
}

.news-container{
    
    width: 1170px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    margin: 25px;

}
.img-div{
    display: inline-block;
    height: 350px;
    width: 350px;
    
}
.img-div img{
   height: 100%;
   width: 100%;
}
.Blog{
    margin: 20px;
   
}
.news-container .Blog h2{
    font-size: 24px;
}
.author-img{
    height: 40px;
    width: 40px;
    background-color:whitesmoke;
    border-radius: 50px;
    display: inline-block;
}
.author-img img{
    height: 100%;
    width: 100%;
}
