@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Great+Vibes&family=Montserrat:wght@500&family=Poppins:ital@1&family=Titillium+Web:ital,wght@1,300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
   
}





body .full-body{
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #F6F6F6;
    
}

.logo-nav{
    
    padding: 32px 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.logo{
    font-weight: 800;
    cursor: pointer;
}
.logo h5{
    color: #5D5FEF;
    font-size: 20px;
}
.list{
    display: flex;
    align-items: center;
}
.list span {
    margin-right: 40px;
    cursor: pointer;
}
.round-img{
    width: 38px;
    height: 38px;
    background-color:whitesmoke;
    display: inline-block;
    border-radius: 50px;
}
.round-img img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
hr{
    margin: 32px 135px;
}

/* Main start _________--------- */
.catagory{
   
   
    display: flex;
    justify-content: space-between;
    
}
.catagory span {
  color: #858585 ;
  cursor: pointer;
}

/* ---------------------------------------------catagory end */
/* -----data found---------------------------------------- */

.found-data{
    max-width: 1166px;
    height: 63px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
}
.found-data h2{
    /* padding-left: 8px;
     */
     margin: 0 auto;
}


#full-news-container article{
    width: 1170px;
    height: 340px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: white;
    display: flex;
    cursor: pointer;
}
.img-container{
    display: inline-block;
    width: 244px;
    height:300px ;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 8px;
    background-color: aliceblue;
}
.img-container img{
    height: 100%;
    width: 100%;
}
article .news-blog{
    width: 886px;
    height: 319px;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 20px;
}
article .news-blog div h1{
    color: #121221;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
}
article .news-blog div p{
    font-size: 16px;
    color:#949494;
}
.author-details{
    max-width:826px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.author-details .my-div{
    display: flex;
}
.author-img{
    
    height: 40px;
    width: 40px;
    border-radius: 50px;
   
}
.author-img img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.author-name{
    padding-left: 10px;
    
}
.author-details div .author-name p{
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 20px;
}
#spnner{
    margin-top: 40vh;
}

footer{
    max-width: 1440px;
    height: 83px;
    margin: 0px auto;
    padding: 40px;

}
footer h1{
    text-align: center;
    font-size: 16px;
    color: #949494;
    
}